public/assets/nova-carter/**/*.obj filter=lfs diff=lfs merge=lfs -text
public/assets/nova-carter/meshes/materials/textures/*.png filter=lfs diff=lfs merge=lfs -text
public/assets/robotic-arm/*.STEP filter=lfs diff=lfs merge=lfs -text
